doctype 5
html
  head
    title PageLapse
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/static/css/style.css')
    link(rel="shortcut icon", href="/static/img/icon.ico")
    script(src="https://cdn.socket.io/socket.io-1.3.4.js")
    script(src="/static/js/lib.js")
    script(src="/static/js/script.js")
  body
    div.hero
      div.header
        div.container
          div.logo
            img(src='/static/img/logo.png')
          div.description(data-250="opacity: 0", data-500="opacity: 1")
            | Visualize a time lapse of your Github web page #[span.highlight evolving]
          div.description.smaller(data-750="opacity: 0", data-1000="opacity: 1")
            | Made with #[img.heart(src="static/img/heart.png")] at McHacks #[img.mchacks(src="static/img/mchacks_logo.png")]
      div.footer(data-1250="opacity: 0" data-1500="opacity: 1")
        div.container
          div.how(data-1750="opacity: 0" data-2000="opacity: 1")
            h1
              | How it works
            | On our server, we clone a copy of your repo. After scraping the commit history, we
            | set the repo state to each commit. We take a screenshot at each stage and then merge
            | the images and serve you the result.

        div.interested(data-2250="opacity: 0" data-2500="opacity: 1")
          span.try
            | Think this is cool? #[span.underline Try it out!]
          br
          input(placeholder="Your Github Repo URL" name="url")

        div.start(data-2500="cursor: default"
        data-2750="opacity: 0; cursor: pointer"
        data-3000="opacity: 1")
          div.text
            | START
    div.test
      | HELLO
