doctype 5
html
  head
    title PageLapse
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/static/css/style.css')
  body
    div.header
      div.container
        | Hello World!
    div.footer
      div.container
        | Footer World!
