<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <link rel="stylesheet" href="../static/css/stylefan.css" type="text/css" />
    <script type="text/javascript" src="../static/js/fan.js"></script>
   
</head>
<body>
<button class="text">ERWKQERNKEWRN</button>
<!--<ul class="browser-mockup ipad list"><li><span class="commits">Commits incorporated</span></li><br></ul> <span class="gif"></span>-->
</body>
</html>


