<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <link rel="stylesheet" href="../static/css/stylefan.css" type="text/css" />
    <script type="text/javascript" charset="utf-8">


$(document).ready(function(){

var responseNum = 0;
var i =0;

$(".loading").each(function(){
	/*	$(this).bind("complete"+i.toString(), function(){
		$(this).append("<img src=\"../static/Checkmark.svg\" style=\"width:1em;height:1em;\"></img>");
		
	});*/
		//$(this).append("<img src=\"../static/Checkmark.svg\" style=\"width:1em;height:1em;\"></img>");
		i=i+1;
	});



    var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
    socket.on('my response', function(msg) {
    	$('.list').append("<li class=\"task\">" + msg.data + " <img src=\"../static/Checkmark.svg\" style=\"width:1em;height:1em;\"></img></li>");
    	$('.task:hidden:last').fadeIn("slow");


	$(".loading").each(function(){
		$(this).trigger("complete"+responseNum.toString());
		console.log("TRWE");

	});
    	console.log(msg.data);

    });
    responseNum=responseNum+1;
    socket.on('done', function(){
    	$(".gif").append("<img src=\"../static/my_gif.GIF\">");
    	$(".gif").addClass("browser-mockup");
    });

});

</script>
</head>
<body>
<ul class="browser-mockup ipad list"><li><span class="commits">Commits incorporated</span></li><br></ul> <span class="gif"></span>
</body>
</html>


