.divportfan{
	background-color: #BEC6D1;
	border-radius: 25px; 
}

.browser-mockup {
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 20px 20px 20px 20px;
  
}

.commits{
  font-size: 2em;
}

.browser-mockup > * {
  display: block;
}

/* Custom code for the demo */

body {
  /*background: linear-gradient(to right, #8e44ad, #c0392b);*/
  display: flex;
}

.browser-mockup {
  margin: 2em;
  flex: 1;
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

img {
  width: 100%;
}

.check{
	background-image: (url(Checkmark.svg));
	height:0.5em;
	width:0.5em;
}

.ipad {
  border-radius: 25px;
  border-style: solid;
  border-width: 30px;
  border-color: #13181C;
}

.task{
  margin: 3px;
  display: none;
}